@charset "UTF-8";


/*página sobre*/
.sb_body{
    max-width: 940px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    color: #3D3D3D;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5em;
}

.sb_tit{
    background-color: #E1EDF2;
    padding: 10px;
}

.sb_subtit{
    border-bottom: 2px solid black;
}
.img_sb{
    text-align: center;
    background-color: whitesmoke;
    color: rgb(133, 128, 128);
    margin: 30px;
    padding: 15px;
}

.img_sb img{
    width: 100%;
    margin-bottom: 10px;
}

.matriz{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.familia{
    max-width: 275px;
    float: right;

}
.disp_inl{
    display: inline;
}

.cont_disp{
    display: flex;
}

.sb_fot{
    padding: 1.75em 0px;
    font-size: 1.1em;
}

.sb_fot img{
    width: 96px;
}

.ender{
    margin-left: 15px;
}

.telefs{
    margin-left: 30px;  
}

@media (max-width: 850px){

    .cont_disp{
        display: block;
    }

    .telefs{
        margin-top: 30px;
        margin-left: 15px; 
    }

}

@media (max-width: 662px){

.familia{
    float: none;
    margin: 0 auto;
}

}


/*--Utilitárias--*/

.mar-top-15{
    margin-top: 15px;
}
.mar-left-15{
    margin-left: 15px;
}
.pad-left-15{
    padding-left: 15px;
}
.mar-left-30{
    margin-left: 30px;
}
.pad-left-30{
    padding-left: 30px;
}
